/*HEADER*/
.header {
  margin-bottom: 50px;
}

.navbar {
  display:         flex;
  justify-content: flex-start;
  align-items:     center;

  background:      #101010;

  li {
    padding:    15px;
    background: #000;

    a {
      color: #9d9d9d;
      &:hover {
        color: #fff;
      }
    }

    &.logo {
      a {
        font-size:      19px;
        text-transform: uppercase;
      }
    }
  }
  a {
    text-decoration: none !important;
  }
}

