.drop__button{

  padding: 0 7px 14px 7px;

  input{
    display: none;
  }
  label{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    background: darken(#fff,10%);
    box-shadow: 0px 1px 3px 0px darken(#fff,10%);
    border: 1px solid #adadad;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease 0.1s;

  }
  ul{
    width: 100%;
    display: block;



    li{
      display: flex;
      align-items: center;
      height: 0;
      padding: 0 15px;
      overflow: hidden;
      border: 1px solid #fff;
      border-top: 0;
      opacity: 0;
      transition: 0.5s;

      &:last-child{
        border-radius: 0 0 5px 5px;

      }

    }
  }

  input:checked ~ ul li{
    height: 45px;
    border-color: #ccc;
    opacity: 1;
    transition: 0.5s;
  }
  input:checked ~ label{
    border-radius: 5px 5px 0 0;
    transition: 0.3s ease 0.1s;

  }
  button{
    margin: 0;
  }
}
