/*CORE*/
*{
  padding: 0;
  margin: 0;
  //position: relative;
  outline: none;
  box-sizing: border-box;
}
label{
  cursor: pointer;
}

/*colors*/
$green: #4cae4c;
$red: #d9534f;
$blue: #337ab7;
/*buttons*/
.button{
  border: 1px solid #adadad;
  border-radius: 5px;
  padding: 10px 15px;
  background: #fff;
  font-size: 18px;
  cursor: pointer;



  &:hover{
    background: darken(#fff,10%);
  }
  &:active{
    box-shadow: inset 0px 1px 2px 0px darken(#fff,30%);
  }
  &:focus{
    box-shadow: inset 0px 1px 2px 0px darken(#fff,30%);
  }

  &.green{
    background: $green;
    border-color: darken($green,10%);
    color: #fff;

    &:hover{
      background: darken($green,5%);
    }
    &:active{
      box-shadow: inset 0px 1px 2px 0px darken(#5cb85c,30%);
      border-color: darken($green,20%);
    }
  }
  &.red{
    background: $red;
    border-color: darken($red,10%);
    color: #fff;

    &:hover{
      background: darken($red,5%);
    }
    &:active{
      box-shadow: inset 0px 1px 2px 0px darken($red,30%);
    }
  }
  &.medium{
    padding: 8px 10px;
    font-size: 12px;
    border-radius: 4px;
  }
  &.small{
    padding: 1px 5px;
    font-size: 12px;
    border-radius: 3px;
  }

  &.indent-right-5 {
    margin-right: 5px;
  }
}
.close{
  position: absolute;
  right: 15px;
  cursor: pointer;
  font-size: 35px;
  font-weight: 300;
  color: #C4C4C4;
  transform: rotate(45deg);
}
input[type='text']{
  border:1px solid #E5E5E5;
  border-radius: 3px;
  padding: 8px;
}
/*modal*/
#modal-summons{
  display: none;

  &:checked ~ .modal{
    opacity: 1;
    z-index: 10;
    transition: 0.2s ease-out 0.1s;
  }
}

.modal{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: fade-out(#000, 0.2);

  opacity: 0;
  z-index: -10;
  transition: 0.15s ease-in;

  .modal__block{
    display: flex;
    flex-direction: column;
    width: calc(100% - 96px);
    height: calc(100% - 98px);
    background: #fff;
  }

  .modal__content{
    display: flex;
    overflow-y: auto;
  }
}

/*DASHBOARD*/
.container{
  width: 80vw;
  margin: 0 auto;

  .modal-summons{
    display: inline-block;
    width: 100%;
    padding: 0 15px 15px 15px;
    label{
      float: right;
    }
  }
  .jumbotron{
    margin-bottom: 15px;
    padding: 40px;
    background: #efefef;
    border-radius: 10px;
  }
  .expertises {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
    .button{
      margin: 0 8px 8px 0;
    }
  }
  .accordeons{
    width: 100%;
    display: inline-block;
    .left,.right{
      width: 50%;
      float: left;
    }
  }
}



/*@IMPORT*/
@import 'fonts';
@import 'typography';

