/*TYPOGRAPHY*/
*{
    font-family: 'Roboto';
    font-size: 15px;
}

a{
    text-decoration: none;
    outline: none;
    color: $blue;
    &:hover{
        text-decoration: underline;
        color: darken($blue, 10%);
    }
}
h2{
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 15px;
}
h3{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
}
h4{
    font-size: 12px;
    font-weight: 700;
}

li {
    list-style-type: none; /* Убираем маркеры */
   }
ul {
	margin-left: 0; /* Отступ слева в браузере IE и Opera */
	padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
	}