.modal-container {
  position: absolute;
  top: 30%;
  left: 35%;
}

.modal-container .modal, .modal-container .modal-backdrop {
  z-index: 1000;
}

.modal-backdrop.in {
  opacity: 0;
}

#contained-modal-title {
  font-size: 18px;
}