.container {
  .font-24px {
    font-size: 24px;
  }

  .creatable-panel {
    margin-bottom:  50px;
    border-bottom:  1px solid black;
    padding-bottom: 20px;
    .creatable-item {
      display:     flex;
      align-items: center;
      h3 {
        font-size:   24px;
        font-weight: normal;
        float:       left;
      }

      input, textarea {
        text-align:  start;
        white-space: nowrap;
        font-size:   14px;
        padding:     16px;
        width:       40%;
      }

      .Select-control {
        width: 570px;
      }

    }

  }

  button {
    margin: 5px;
  }

}

