.table__expertise {
  margin-top: 30px;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  background-color: transparent;
}

.table__striped >tbody>tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

.table__striped >tbody>tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

.table__expertise>thead>tr>th{
  padding: 10px;
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
  font-size: 14px;
  color: #333;
  text-align: left;
}

.table__expertise>tbody>tr>td {
  padding: 10px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
  font-size: 14px;
  color: #333;
}


.table__expertise>tbody>tr>td:last-of-type {
  text-align: right;
}


.table__expertise .empty-cell {
  font-style: italic;
  color: gray;
}

